<h2>Hello!</h2>

<p>Your project board is ready to go. Check it out here:

  <a href="<%= @clone.url %>"><%= @clone.url %></a>

<p>Watch the following <%= link_to "Intro to GitHub Projects Video", "https://youtu.be/1raiPTTqe34" %>.</p>
