---
http_interactions:
- request:
    method: delete
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1605670026'
      X-Ratelimit-Used:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#delete-a-repository"}'
  recorded_at: Wed, 18 Nov 2020 02:28:47 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn-1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1605670026'
      X-Ratelimit-Used:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#delete-a-repository"}'
  recorded_at: Wed, 18 Nov 2020 02:28:47 GMT
- request:
    method: get
    uri: https://api.github.com/users/backburnerstudios/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"95f988376397bbda6474d265aac8efefd6a98dbff35ba970e9850bf9d95291bc"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1605670026'
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":288901216,"node_id":"MDEwOlJlcG9zaXRvcnkyODg5MDEyMTY=","name":"viewing_party","full_name":"backburnerstudios/viewing_party","private":false,"owner":{"login":"backburnerstudios","id":5150073,"node_id":"MDQ6VXNlcjUxNTAwNzM=","avatar_url":"https://avatars0.githubusercontent.com/u/5150073?v=4","gravatar_id":"","url":"https://api.github.com/users/backburnerstudios","html_url":"https://github.com/backburnerstudios","followers_url":"https://api.github.com/users/backburnerstudios/followers","following_url":"https://api.github.com/users/backburnerstudios/following{/other_user}","gists_url":"https://api.github.com/users/backburnerstudios/gists{/gist_id}","starred_url":"https://api.github.com/users/backburnerstudios/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/backburnerstudios/subscriptions","organizations_url":"https://api.github.com/users/backburnerstudios/orgs","repos_url":"https://api.github.com/users/backburnerstudios/repos","events_url":"https://api.github.com/users/backburnerstudios/events{/privacy}","received_events_url":"https://api.github.com/users/backburnerstudios/received_events","type":"User","site_admin":false},"html_url":"https://github.com/backburnerstudios/viewing_party","description":"Starter
        repo for a backend module 3 project.","fork":true,"url":"https://api.github.com/repos/backburnerstudios/viewing_party","forks_url":"https://api.github.com/repos/backburnerstudios/viewing_party/forks","keys_url":"https://api.github.com/repos/backburnerstudios/viewing_party/keys{/key_id}","collaborators_url":"https://api.github.com/repos/backburnerstudios/viewing_party/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/backburnerstudios/viewing_party/teams","hooks_url":"https://api.github.com/repos/backburnerstudios/viewing_party/hooks","issue_events_url":"https://api.github.com/repos/backburnerstudios/viewing_party/issues/events{/number}","events_url":"https://api.github.com/repos/backburnerstudios/viewing_party/events","assignees_url":"https://api.github.com/repos/backburnerstudios/viewing_party/assignees{/user}","branches_url":"https://api.github.com/repos/backburnerstudios/viewing_party/branches{/branch}","tags_url":"https://api.github.com/repos/backburnerstudios/viewing_party/tags","blobs_url":"https://api.github.com/repos/backburnerstudios/viewing_party/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/backburnerstudios/viewing_party/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/backburnerstudios/viewing_party/git/refs{/sha}","trees_url":"https://api.github.com/repos/backburnerstudios/viewing_party/git/trees{/sha}","statuses_url":"https://api.github.com/repos/backburnerstudios/viewing_party/statuses/{sha}","languages_url":"https://api.github.com/repos/backburnerstudios/viewing_party/languages","stargazers_url":"https://api.github.com/repos/backburnerstudios/viewing_party/stargazers","contributors_url":"https://api.github.com/repos/backburnerstudios/viewing_party/contributors","subscribers_url":"https://api.github.com/repos/backburnerstudios/viewing_party/subscribers","subscription_url":"https://api.github.com/repos/backburnerstudios/viewing_party/subscription","commits_url":"https://api.github.com/repos/backburnerstudios/viewing_party/commits{/sha}","git_commits_url":"https://api.github.com/repos/backburnerstudios/viewing_party/git/commits{/sha}","comments_url":"https://api.github.com/repos/backburnerstudios/viewing_party/comments{/number}","issue_comment_url":"https://api.github.com/repos/backburnerstudios/viewing_party/issues/comments{/number}","contents_url":"https://api.github.com/repos/backburnerstudios/viewing_party/contents/{+path}","compare_url":"https://api.github.com/repos/backburnerstudios/viewing_party/compare/{base}...{head}","merges_url":"https://api.github.com/repos/backburnerstudios/viewing_party/merges","archive_url":"https://api.github.com/repos/backburnerstudios/viewing_party/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/backburnerstudios/viewing_party/downloads","issues_url":"https://api.github.com/repos/backburnerstudios/viewing_party/issues{/number}","pulls_url":"https://api.github.com/repos/backburnerstudios/viewing_party/pulls{/number}","milestones_url":"https://api.github.com/repos/backburnerstudios/viewing_party/milestones{/number}","notifications_url":"https://api.github.com/repos/backburnerstudios/viewing_party/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/backburnerstudios/viewing_party/labels{/name}","releases_url":"https://api.github.com/repos/backburnerstudios/viewing_party/releases{/id}","deployments_url":"https://api.github.com/repos/backburnerstudios/viewing_party/deployments","created_at":"2020-08-20T03:55:12Z","updated_at":"2020-08-23T08:21:01Z","pushed_at":"2020-08-23T08:20:59Z","git_url":"git://github.com/backburnerstudios/viewing_party.git","ssh_url":"git@github.com:backburnerstudios/viewing_party.git","clone_url":"https://github.com/backburnerstudios/viewing_party.git","svn_url":"https://github.com/backburnerstudios/viewing_party","homepage":null,"size":74,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":19,"license":null,"forks":0,"open_issues":19,"watchers":1,"default_branch":"main"}]'
  recorded_at: Wed, 18 Nov 2020 02:28:48 GMT
- request:
    method: post
    uri: https://api.github.com/repos/turingschool-examples/watch-and-learn/forks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
      X-Oauth-Scopes:
      - admin:enterpr[...]
- request:
    method: put
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn/collaborators/iandouglas
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"a45c0a5b6f4856027ec9e4b38c64c4b9e70f333161fff29192b700dae692ba34"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/user/repository_invitations/35414906
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1605670026'
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: UTF-8
      string: '{"id":35414906,"node_id":"MDIwOlJlcG9zaXRvcnlJbnZpdGF0aW9uMzU0MTQ5MDY=","repository":{"id":313801146,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM4MDExNDY=","name":"watch-and-learn","full_name":"backburnerstudios/watch-and-learn","private":false,"owner":{"login":"backburnerstudios","id":5150073,"node_id":"MDQ6VXNlcjUxNTAwNzM=","avatar_url":"https://avatars0.githubusercontent.com/u/5150073?v=4","gravatar_id":"","url":"https://api.github.com/users/backburnerstudios","html_url":"https://github.com/backburnerstudios","followers_url":"https://api.github.com/users/backburnerstudios/followers","f[...]
- request:
    method: get
    uri: https://api.github.com/user/repository_invitations?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d07912ad93566f6fa086dc1ca39b2c9d2eb185f194c48a9c079843abff716583"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
   [...]
- request:
    method: patch
    uri: https://api.github.com/user/repository_invitations/35414906
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo, repo:invite
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1605669985'
      X-Ratelimit-Used:
      - '11'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2020 02:28:50 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn/projects
    body:
      encoding: UTF-8
      string: '{"name":"BE3 Group Project"}'
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"0a15ba28861a5216b4bef90a3111d18571dc58176d5d40a84a91ce77b1681f00"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/projects/5922158
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1605669985'
      X-Ratelimit-Used:
      - '12'
    body:
      encoding: UTF-8
      string: '{"owner_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn","url":"https://api.github.com/projects/5922158","html_url":"https://github.com/backburnerstudios/watch-and-learn/projects/1","columns_url":"https://api.github.com/projects/5922158/columns","id":5922158,"node_id":"MDc6UHJvamVjdDU5MjIxNTg=","name":"BE3
        Group Project","body":null,"number":1,"state":"open","creator":{"login":"iandouglas","id":168030,"node_id":"MDQ6VXNlcjE2ODAzMA==","avatar_url":"https://avatars2.githubusercontent.com/u/168030?u=e8805673bd9db6f182d26962b9f626dab0e88020&v=4","gravatar_id":"","url":"https://api.github.com/users/iandouglas","html_url":"https://github.com/iandouglas","followers_url":"https://api.github.com/users/iandouglas/followers","following_url":"https://api.github.com/users/iandouglas/following{/other_user}","gists_url":"https://api.github.com/users/iandouglas/gists{/gist_id}","starred_url":"https://api.github.com/users/iandouglas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iandouglas/subscriptions","organizations_url":"https://api.github.com/users/iandouglas/orgs","repos_url":"https://api.github.com/users/iandouglas/repos","events_url":"https://api.github.com/users/iandouglas/events{/privacy}","received_events_url":"https://api.github.com/users/iandouglas/received_events","type":"User","site_admin":false},"created_at":"2020-11-18T02:28:51Z","updated_at":"2020-11-18T02:28:51Z"}'
  recorded_at: Wed, 18 Nov 2020 02:28:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/turingschool-examples/watch-and-learn/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"67d02fd89a5357753940a5ed49f6ee77[...]
- request:
    method: get
    uri: https://api.github.com/projects/1981034/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"86a5e9a7d3d69dd8d22aa426c9cdd914f09d55628f0ce97aa78dae1464365a76"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1605669985'
      X-Ratelimit-Used:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/projects/columns/3914150","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3914150/cards","id":3914150,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTE0MTUw","name":"Icebox","created_at":"2018-12-02T19:16:30Z","updated_at":"2020-04-29T17:36:02Z"},{"url":"https://api.github.com/projects/columns/3911440","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3911440/cards","id":3911440,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTExNDQw","name":"To
        do","created_at":"2018-12-02T00:27:37Z","updated_at":"2020-05-04T19:16:45Z"},{"url":"https://api.github.com/projects/columns/3911441","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3911441/cards","id":3911441,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTExNDQx","name":"In
        progress","created_at":"2018-12-02T00:27:45Z","updated_at":"2020-05-04T19:16:40Z"},{"url":"https://api.github.com/projects/columns/3911442","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3911442/cards","id":3911442,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTExNDQy","name":"Done","created_at":"2018-12-02T00:27:46Z","updated_at":"2020-05-04T19:16:45Z"}]'
  recorded_at: Wed, 18 Nov 2020 02:28:52 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/projects/columns/3914150/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c29ddfb5776ab3f4524bc33914ea2490d8ba876f8979e69399d17ee69271d65e"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1605669985'
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/projects/columns/cards/15376540","project_url":"https://api.github.com/projects/1981034","id":15376540,"node_id":"MDExOlByb2plY3RDYXJkMTUzNzY1NDA=","note":null,"archived":false,"creator":{"login":"jmejia","id":73824,"node_id":"MDQ6VXNlcjczODI0","avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false},"created_at":"2018-12-02T19:37:28Z","updated_at":"2018-12-02T19:39:43Z","column_url":"https://api.github.com/projects/columns/3914150","content_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17"}]'
  recorded_at: Wed, 18 Nov 2020 02:28:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d70f829fd14d91bde585803e10e79b2af9cf3f9eabbf670376132ec21b2e9633"
      Last-Modified:
      - Fri, 23 Oct 2020 20:27:03 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1605669985'
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17","repository_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn","labels_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17/labels{/name}","comments_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17/comments","events_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17/events","html_url":"https://github.com/turingschool-examples/watch-and-learn/issues/17","id":386591859,"node_id":"MDU6SXNzdWUzODY1OTE4NTk=","number":17,"title":"Bookmarking
        doesn''t reload page","user":{"login":"jmejia","id":73824,"node_id":"MDQ6VXNlcjczODI0","avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false},"labels":[{"id":1147181001,"node_id":"MDU6TGFiZWwxMTQ3MTgxMDAx","url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/labels/extension","name":"extension","color":"e09a5e","default":false,"description":""},{"id":1147826383,"node_id":"MDU6TGFiZWwxMTQ3ODI2Mzgz","url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/labels/javascript","name":"javascript","color":"ffbce8","default":false,"description":""}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-12-02T19:39:43Z","updated_at":"2018-12-02T19:43:05Z","closed_at":null,"author_association":"MEMBER","active_lock_reason":null,"body":"Background:
        When a user bookmarks a video the page reloads which means if they were watching
        a video, the video starts over making for a frustrating user experience. We
        can use JavaScript to make a POST request to `/api/v1/bookmarks`.\r\n\r\nThis
        story should make a `fetch` call to an internal API.\r\n\r\nThe app currently
        uses Stimulus JS and there are already examples of how to make a `fetch` call
        to an internal API. Review that code and use it as a template.","closed_by":null,"performed_via_github_app":null}'
  recorded_at: Wed, 18 Nov 2020 02:28:53 GMT
- request:
    method: post
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn/issues
    body:
      encoding: UTF-8
      string: '{"title":"Bookmarking doesn''t reload page","body":"Background: When
        a user bookmarks a video the page reloads which means if they were watching
        a video, the video starts over making for a frustrating user experience. We
        can use JavaScript to make a POST request to `/api/v1/bookmarks`.\r\n\r\nThis
        story should ma[...]
- request:
    method: post
    uri: https://api.github.com/projects/columns/11730657/cards
    body:
      encoding: UTF-8
      string: '{"content_type":"Issue","content_id":745273091}'
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"94fda0a3cfdd34b83c378ccd29dbf24424c6517a468983b2659192779cb4aee9"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
[...]
[...]
- request:
    method: delete
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn-1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1605670026'
      X-Ratelimit-Used:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#delete-a-repository"}'
  recorded_at: Wed, 18 Nov 2020 02:29:31 GMT
recorded_with: VCR 6.0.0
