---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/forks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1546891317'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 22e3b35e230fb5beacde
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":164485303,"node_id":"MDEwOlJlcG9zaXRvcnkxNjQ0ODUzMDM=","name":"brownfield-of-dreams","full_name":"ClassicRichard/brownfield-of-dreams","private":false,"owner":{"login":"ClassicRichard","id":11797474,"node_id":"MDQ6VXNlcjExNzk3NDc0","avatar_url":"https://avatars3.githubusercontent.com/u/11797474?v=4","gravatar_id":"","url":"https://api.github.com/users/ClassicRichard","html_url":"https://github.com/ClassicRichard","followers_url":"https://api.github.com/users/ClassicRichard/followers","following_url":"https://api.github.com/users/ClassicRichard/following{/other_user}","gists_url":"https://api.github.com/users/ClassicRichard/gists{/gist_id}","starred_url":"https://api.github.com/users/ClassicRichard/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ClassicRichard/subscriptions","organizations_url":"https://api.github.com/users/ClassicRichard/orgs","repos_url":"https://api.github.com/users/ClassicRichard/repos","events_url":"https://api.github.com/users/ClassicRichard/events{/privacy}","received_events_url":"https://api.github.com/users/ClassicRichard/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ClassicRichard/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams","forks_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/deployments","created_at":"2019-01-07T19:53:40Z","updated_at":"2018-12-03T21:24:57Z","pushed_at":"2018-12-03T00:20:31Z","git_url":"git://github.com/ClassicRichard/brownfield-of-dreams.git","ssh_url":"git@github.com:ClassicRichard/brownfield-of-dreams.git","clone_url":"https://github.com/ClassicRichard/brownfield-of-dreams.git","svn_url":"https://github.com/ClassicRichard/brownfield-of-dreams","homepage":"","size":395,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":159999693,"node_id":"MDEwOlJlcG9zaXRvcnkxNTk5OTk2OTM=","name":"brownfield-of-dreams","full_name":"turingschool-examples/brownfield-of-dreams","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars3.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com[...]
- request:
    method: put
    uri: https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/collaborators/jmejia
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1546891317'
      Etag:
      - '"9ea238c6b7b5325a6896d0c95e523f6c"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 22e3b35e230fb5beacde
      Location:
      - https://api.github.com/user/repository_invitations/13098072
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":13098072,"node_id":"MDIwOlJlcG9zaXRvcnlJbnZpdGF0aW9uMTMwOTgwNzI=","repository":{"id":164485303,"node_id":"MDEwOlJlcG9zaXRvcnkxNjQ0ODUzMDM=","name":"brownfield-of-dreams","full_name":"ClassicRichard/brownfield-of-dreams","private":false,"owner":{"login":"ClassicRichard","id":11797474,"node_id":"MDQ6VXNlcjExNzk3NDc0","avatar_url":"https://avatars3.githubusercontent.com/u/11797474?v=4","gravatar_id":"","url":"https://api.github.com/users/ClassicRichard","html_url":"https://github.com/ClassicRichard","followers_url":"https://api.github.com/users/ClassicRichard/followers","foll[...]
- request:
    method: get
    uri: https://api.github.com/user/repository_invitations?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4851'
      X-Ratelimit-Reset:
      - '1546892770'
      Etag:
      - W/"b2259553c0bdb0382a49c38fb02f59e7"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, rep[...]
- request:
    method: patch
    uri: https://api.github.com/repos/ClassicRichard/brownfield-of-dreams
    body:
      encoding: UTF-8
      string: '{"has_issues":true,"name":"brownfield-of-dreams"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelim[...]
- request:
    method: post
    uri: https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/projects
    body:
      encoding: UTF-8
      string: '{"name":"BE3 Brownfield Project"}'
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4850'
      X-Ratelimit-Reset:
      - '1546892770'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"You need at least public_repo scope to view public repository
        projects via OAuth","documentation_url":"https://developer.github.com/v3/projects/#create-a-repository-project"}'
  recorded_at: Mon, 07 Jan 2019 19:53:43 GMT
- request:
    method: get
    uri: https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4849'
      X-Ratelimit-Reset:
      - '1546892770'
      Etag:
      - W/"a57454210a6e7b12c9fed7f2ffc26298"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"owner_url":"https://api.github.com/repos/turingschool-examples/brownfield-of-dreams","url":"https://api.github.com/projects/1981034","html_url":"https://github.com/turingschool-examples/brownfield-of-dreams/projects/1","columns_url":"https://api.github.com/projects/1981034/columns","id":1981034,"node_id":"MDc6UHJvamVjdDE5ODEwMzQ=","name":"Project
        Board Template","body":"","number":1,"state":"open","creator":{"login":"jmejia","id":73824,"node_id":"MDQ6VXNlcjczODI0","avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false},"created_at":"2018-12-02T00:27:37Z","updated_at":"2018-12-22T15:05:40Z"}]'
  recorded_at: Mon, 07 Jan 2019 19:53:44 GMT
- request:
    method: get
    uri: https://api.github.com/projects/1981034/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4848'
      X-Ratelimit-Reset:
      - '1546892770'
      Etag:
      - W/"7e5015e5dff74766a0041931517a2e91"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/projects/columns/3914150","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3914150/cards","id":3914150,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTE0MTUw","name":"Icebox","created_at":"2018-12-02T19:16:30Z","updated_at":"2018-12-02T19:49:10Z"},{"url":"https://api.github.com/projects/columns/3911440","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3911440/cards","id":3911440,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTExNDQw","name":"To
        do","created_at":"2018-12-02T00:27:37Z","updated_at":"2018-12-22T15:05:40Z"},{"url":"https://api.github.com/projects/columns/3911441","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3911441/cards","id":3911441,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTExNDQx","name":"In
        progress","created_at":"2018-12-02T00:27:45Z","updated_at":"2018-12-21T21:00:18Z"},{"url":"https://api.github.com/projects/columns/3911442","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3911442/cards","id":3911442,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTExNDQy","name":"Done","created_at":"2018-12-02T00:27:46Z","updated_at":"2018-12-22T15:05:40Z"}]'
  recorded_at: Mon, 07 Jan 2019 19:53:44 GMT
- request:
    method: post
    uri: https://api.github.com/projects/columns
    body:
      encoding: UTF-8
      string: '{"name":"Icebox"}'
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4847'
      X-Ratelimit-Reset:
      - '1546892770'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 07 Jan 2019 19:53:44 GMT
- request:
    method: get
    uri: https://api.github.com/projects/columns/3914150/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4846'
      X-Ratelimit-Reset:
      - '1546892770'
      Etag:
      - W/"33ac59a0bb6ce021d7bc382bafea42de"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/projects/columns/cards/15376540","project_url":"https://api.github.com/projects/1981034","id":15376540,"node_id":"MDExOlByb2plY3RDYXJkMTUzNzY1NDA=","note":null,"archived":false,"creator":{"login":"jmejia","id":73824,"node_id":"MDQ6VXNlcjczODI0","avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false},"created_at":"2018-12-02T19:37:28Z","updated_at":"2018-12-02T19:39:43Z","column_url":"https://api.github.com/projects/columns/3914150","content_url":"https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/issues/17"},{"url":"https://api.github.com/projects/columns/cards/15367517","project_url":"https://api.github.com/projects/1981034","id":15367517,"node_id":"MDExOlByb2plY3RDYXJkMTUzNjc1MTc=","note":null,"archived":false,"creator":{"login":"jmejia","id":73824,"node_id":"MDQ6VXNlcjczODI0","avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"[...]
- request:
    method: get
    uri: https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/issues/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4845'
      X-Ratelimit-Reset:
      - '1546892770'
      Etag:
      - W/"aab1ed6037db87b213987be5d886c193"
      Last-Modified:
      - Wed, 12 Dec 2018 18:58:00 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/issues/4","repository_url":"https://api.github.com/repos/turingschool-examples/brownfield-of-dreams","labels_url":"https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/issues/4/comments","events_url":"https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/issues/4/events","html_url":"https://github.com/turingschool-examples/brownfield-of-dreams/issues/4","id":386512549,"node_id":"MDU6SXNzdWUzODY1MTI1NDk=","number":4,"title":"Admin:
        New Tutorial","user":{"login":"jmejia","id":73824,"node_id":"MDQ6VXNlcjczODI0","avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false},"labels":[{"id":1147134535,"node_id":"MDU6TGFiZWwxMTQ3MTM0NTM1","url":"https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/labels/good%20first%20issue","name":"good
        first issue","color":"7057ff","default":true}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-12-02T00:27:40Z","updated_at":"2018-12-02T00:27:40Z","closed_at":null,"author_association":"MEMBER","body":"When
        I visit ''/admin/tutorials/new''\r\nAnd I fill in ''title'' with a meaningful
        name\r\nAnd I fill in ''description'' with a some content\r\nAnd I fill in
        ''thumbnail'' with a valid YouTube thumbnail\r\nAnd I click on ''Save''\r\nThen
        I should be on ''/tutorials/{NEW_TUTORIAL_ID}''\r\nAnd I should see a flash
        message that says \"Successfully created tutorial.\"\r\n\r\n- [ ] Sad path
        accounted for","closed_by":null}'
  recorded_at: Mon, 07 Jan 2019 19:53:45 GMT
- request:
    method: post
    uri: https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/issues
    body:
      encoding: UTF-8
      string: '{"title":"Admin: New Tutorial","body":"When I visit ''/admin/tutorials/new''\r\nAnd
        I fill in ''title'' with a meaningful name\r\nAnd I fill in ''description''
        with a some content\r\nAnd I fill in ''thumbnail'' with a valid YouTube thumbnail\r\nAnd
        I click on ''Save''\r\nThen I should be on ''/tutorials/{NEW_TUTORIAL_I[...]
- request:
    method: post
    uri: https://api.github.com/projects/columns/cards
    body:
      encoding: UTF-8
      string: '{"content_type":"Issue","content_id":396626282}'
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4843'
      X-Ratelimit-Reset:
      - '1546892770'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 07 Jan 2019 19:53:46 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/projects/columns/3911442/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4785'
      X-Ratelimit-Reset:
      - '1546892770'
      Etag:
      - '"6623fc870a9da3b4c1681cfd5cd698ea"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 07 Jan 2019 19:54:09 GMT
recorded_with: VCR 4.0.0
