---
http_interactions:
- request:
    method: patch
    uri: https://api.github.com/repos/student/brownfield-of-dreams
    body:
      encoding: UTF-8
      string: '{"has_issues":true,"name":"brownfield-of-dreams"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1555085685'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 22e3b35e230fb5beacde
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/#edit"}'
  recorded_at: Fri, 12 Apr 2019 15:14:03 GMT
recorded_with: VCR 4.0.0
