---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/turingschool-examples/brownfield-of-dreams/forks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1546891317'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 22e3b35e230fb5beacde
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":164485303,"node_id":"MDEwOlJlcG9zaXRvcnkxNjQ0ODUzMDM=","name":"brownfield-of-dreams","full_name":"ClassicRichard/brownfield-of-dreams","private":false,"owner":{"login":"ClassicRichard","id":11797474,"node_id":"MDQ6VXNlcjExNzk3NDc0","avatar_url":"https://avatars3.githubusercontent.com/u/11797474?v=4","gravatar_id":"","url":"https://api.github.com/users/ClassicRichard","html_url":"https://github.com/ClassicRichard","followers_url":"https://api.github.com/users/ClassicRichard/followers","following_url":"https://api.github.com/users/ClassicRichard/following{/other_user}","gists_url":"https://api.github.com/users/ClassicRichard/gists{/gist_id}","starred_url":"https://api.github.com/users/ClassicRichard/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ClassicRichard/subscriptions","organizations_url":"https://api.github.com/users/ClassicRichard/orgs","repos_url":"https://api.github.com/users/ClassicRichard/repos","events_url":"https://api.github.com/users/ClassicRichard/events{/privacy}","received_events_url":"https://api.github.com/users/ClassicRichard/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ClassicRichard/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams","forks_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/ClassicRichard/brownfield-of-dreams/deployments","created_at":"2019-01-07T19:53:40Z","updated_at":"2018-12-03T21:24:57Z","pushed_at":"2018-12-03T00:20:31Z","git_url":"git://github.com/ClassicRichard/brownfield-of-dreams.git","ssh_url":"git@github.com:ClassicRichard/brownfield-of-dreams.git","clone_url":"https://github.com/ClassicRichard/brownfield-of-dreams.git","svn_url":"https://github.com/ClassicRichard/brownfield-of-dreams","homepage":"","size":395,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":159999693,"node_id":"MDEwOlJlcG9zaXRvcnkxNTk5OTk2OTM=","name":"brownfield-of-dreams","full_name":"turingschool-examples/brownfield-of-dreams","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars3.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com[...]
- request:
    method: get
    uri: https://api.github.com/user/repository_invitations?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4852'
      X-Ratelimit-Reset:
      - '1546892770'
      Etag:
      - W/"4559a74509ce0781669ccd1b69c18f45"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - public_repo, repo, repo:invite
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":677856,"node_id":"MDIwOlJlcG9zaXRvcnlJbnZpdGF0aW9uNjc3ODU2","repository":{"id":65758371,"node_id":"MDEwOlJlcG9zaXRvcnk2NTc1ODM3MQ==","name":"the_pivot","full_name":"allindow/the_pivot","private":false,"owner":{"login":"allindow","id":17581181,"node_id":"MDQ6VXNlcjE3NTgxMTgx","avatar_url":"https://avatars3.githubusercontent.com/u/17581181?v=4","gravatar_id":"","url":"https://api.github.com/users/allindow","html_url":"https://github.com/allindow","followers_url":"https://api.github.com/users/allindow/followers","following_url":"https://api.github.com/users/allindow/fol[...]
