---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5c71cac272bc49beb12bd43d45bce3588148b9e71fbe1496da75216e94d984ec"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4864'
      X-Ratelimit-Reset:
      - '1605587326'
      X-Ratelimit-Used:
      - '136'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"turingschool","id":7934292,"node_id":"MDEyOk9yZ2FuaXphdGlvbjc5MzQyOTI=","url":"https://api.github.com/orgs/turingschool","repos_url":"https://api.github.com/orgs/turingschool/repos","events_url":"https://api.github.com/orgs/turingschool/events","hooks_url":"https://api.github.com/orgs/turingschool/hooks","issues_url":"https://api.github.com/orgs/turingschool/issues","members_url":"https://api.github.com/orgs/turingschool/members{/member}","public_members_url":"https://api.github.com/orgs/turingschool/public_members{/member}","avatar_url":"https://avatars0.githubusercontent.com/u/7934292?v=4","description":""},{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","url":"https://api.github.com/orgs/turingschool-examples","repos_url":"https://api.github.com/orgs/turingschool-examples/repos","events_url":"https://api.github.com/orgs/turingschool-examples/events","hooks_url":"https://api.github.com/orgs/turingschool-examples/hooks","issues_url":"https://api.github.com/orgs/turingschool-examples/issues","members_url":"https://api.github.com/orgs/turingschool-example[...]
