---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1546556195'
      Etag:
      - W/"c473693a658e713fb0ae1d74e5c6193a"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"JumpstartLab","id":856601,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1NjYwMQ==","url":"https://api.github.com/orgs/JumpstartLab","repos_url":"https://api.github.com/orgs/JumpstartLab/repos","events_url":"https://api.github.com/orgs/JumpstartLab/events","hooks_url":"https://api.github.com/orgs/JumpstartLab/hooks","issues_url":"https://api.github.com/orgs/JumpstartLab/issues","members_url":"https://api.github.com/orgs/JumpstartLab/members{/member}","public_members_url":"https://api.github.com/orgs/JumpstartLab/public_members{/member}","avatar_url":"https://avatars1.githubusercontent.com/u/856601?v=4","description":null},{"login":"turingschool","id":7934292,"node_id":"MDEyOk9yZ2FuaXphdGlvbjc5MzQyOTI=","url":"https://api.github.com/orgs/turingschool","repos_url":"https://api.github.com/orgs/turingschool/repos","events_url":"https://api.github.com/orgs/turingschool/events","hooks_url":"https://api.github.com/orgs/turingschool/hooks","issues_url":"https://api.github.com/orgs/turingschool/issues","members_url":"https://api.github.com/orgs/turingschool/members{/member}","public_members_url":"https://api.github.[...]
