nav {
  color: #FFF;
  background: #1A1F22;
  height: 60px;
}

.logo img {
  width: 50%;
}

nav > .right > a {
  color: #36BCF0;
}

nav > .right > a.login-btn {
  margin-top: -4px; // ewww
  font-size: 80%;
  color: #FFF
}

