---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/turingschool-examples/watch-and-learn/forks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1605587114'
      X-Ratelimit-Used:
      - '41'
    body:
      encoding: UTF-8
      string: '{"id":313500050,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM1MDAwNTA=","name":"watch-and-learn","full_name":"backburnerstudios/watch-and-learn","private":false,"owner":{"login":"backburnerstudios","id":5150073,"node_id":"MDQ6VXNlcjUxNTAwNzM=","avatar_url":"https://avatars0.githubusercontent.com/u/5150073?v=4","gravatar_id":"","url":"https://api.github.com/users/backburnerstudios","html_url":"https://github.com/backburnerstudios","followers_url":"https://api.github.com/users/backburnerstudios/followers","following_url":"https://api.github.com/users/backburnerstudios/following{/other_user}","gists_url":"https://api.github.com/users/backburnerstudios/gists{/gist_id}","starred_url":"https://api.github.com/users/backburnerstudios/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/backburnerstudios/subscriptions","organizations_url":"https://api.github.com/users/backburnerstudios/orgs","repos_url":"https://api.github.com/users/backburnerstudios/repos","events_url":"https://api.github.com/users/backburnerstudios/events{/privacy}","received_events_url":"https://api.github.com/users/backburnerstudios/received_events","type":"User","site_admin":false},"html_url":"https://github.com/backburnerstudios/watch-and-learn","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/backburnerstudios/watch-and-learn","forks_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/forks","keys_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/keys{/key_id}","collaborators_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/teams","hooks_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/hooks","issue_events_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/issues/events{/number}","events_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/events","assignees_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/assignees{/user}","branches_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/branches{/branch}","tags_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/tags","blobs_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/git/refs{/sha}","trees_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/git/trees{/sha}","statuses_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/statuses/{sha}","languages_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/languages","stargazers_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/stargazers","contributors_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/contributors","subscribers_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/subscribers","subscription_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/subscription","commits_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/commits{/sha}","git_commits_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/git/commits{/sha}","comments_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/comments{/number}","issue_comment_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/issues/comments{/number}","contents_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/contents/{+path}","compare_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/compare/{base}...{head}","merges_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/merges","archive_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/downloads","issues_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/issues{/number}","pulls_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/pulls{/number}","milestones_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/milestones{/number}","notifications_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/labels{/name}","releases_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/releases{/id}","deployments_url":"https://api.github.com/repos/backburnerstudios/watch-and-learn/deployments","created_at":"2020-11-17T03:48:12Z","updated_at":"2020-08-16T21:50:07Z","pushed_at":"2020-09-07T16:48:00Z","git_url":"git://github.com/backburnerstudios/watch-and-learn.git","ssh_url":"git@github.com:backburnerstudios/watch-and-learn.git","clone_url":"https://github.com/backburnerstudios/watch-and-learn.git","svn_url":"https://github.com/backburnerstudios/watch-and-learn","homepage":"","size":7826,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":159999693,"node_id":"MDEwOlJlcG9zaXRvcnkxNTk5OTk2OTM=","name":"watch-and-learn","full_name":"turingschool-examples/watch-and-learn","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars3.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tur[...]
- request:
    method: put
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn/collaborators/jmejia
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"c34aed27ac9d15bfa6067f10398975077894705f86789879c94fc476730ebd41"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/user/repository_invitations/35283443
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1605587114'
      X-Ratelimit-Used:
      - '42'
    body:
      encoding: UTF-8
      string: '{"id":35283443,"node_id":"MDIwOlJlcG9zaXRvcnlJbnZpdGF0aW9uMzUyODM0NDM=","repository":{"id":313500050,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM1MDAwNTA=","name":"watch-and-learn","full_name":"backburnerstudios/watch-and-learn","private":false,"owner":{"login":"backburnerstudios","id":5150073,"node_id":"MDQ6VXNlcjUxNTAwNzM=","avatar_url":"https://avatars0.githubusercontent.com/u/5150073?v=4","gravatar_id":"","url":"https://api.github.com/users/backburnerstudios","html_url":"https://github.com/backburnerstudios","followers_url":"https://api.github.com/users/backburnerstudios/followers","f[...]
- request:
    method: get
    uri: https://api.github.com/user/repository_invitations?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"90b48f05100efc75995263ef5d12f32079a55112133c30292aa77dce2fb615b7"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
   [...]
- request:
    method: patch
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn
    body:
      encoding: UTF-8
      string: '{"has_issues":true,"name":"watch-and-learn"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TESTING_STUDENT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/[...]
- request:
    method: post
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn/projects
    body:
      encoding: UTF-8
      string: '{"name":"BE3 Group Project"}'
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4602'
      X-Ratelimit-Reset:
      - '1605587326'
      X-Ratelimit-Used:
      - '398'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"You need at least public_repo scope to view public repository
        projects via OAuth","documentation_url":"https://docs.github.com/rest/reference/projects#create-a-repository-project"}'
  recorded_at: Tue, 17 Nov 2020 03:48:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/turingschool-examples/watch-and-learn/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8dabc16d23f66f59434ba142e73e509ff2db708c5cbda31102f66b6b8e94dfce"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4601'
      X-Ratelimit-Reset:
      - '1605587326'
      X-Ratelimit-Used:
      - '399'
    body:
      encoding: ASCII-8BIT
      string: '[{"owner_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn","url":"https://api.github.com/projects/1981034","html_url":"https://github.com/turingschool-examples/watch-and-learn/projects/1","columns_url":"https://api.github.com/projects/1981034/columns","id":1981034,"node_id":"MDc6UHJvamVjdDE5ODEwMzQ=","name":"Project
        Board Template","body":"","number":1,"state":"open","creator":{"login":"jmejia","id":73824,"node_id":"MDQ6VXNlcjczODI0","avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/r[...]
- request:
    method: get
    uri: https://api.github.com/projects/1981034/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"86a5e9a7d3d69dd8d22aa426c9cdd914f09d55628f0ce97aa78dae1464365a76"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4600'
      X-Ratelimit-Reset:
      - '1605587326'
      X-Ratelimit-Used:
      - '400'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/projects/columns/3914150","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3914150/cards","id":3914150,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTE0MTUw","name":"Icebox","created_at":"2018-12-02T19:16:30Z","updated_at":"2020-04-29T17:36:02Z"},{"url":"https://api.github.com/projects/columns/3911440","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3911440/cards","id":3911440,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTExNDQw","name":"To
        do","created_at":"2018-12-02T00:27:37Z","updated_at":"2020-05-04T19:16:45Z"},{"url":"https://api.github.com/projects/columns/3911441","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3911441/cards","id":3911441,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTExNDQx","name":"In
        progress","created_at":"2018-12-02T00:27:45Z","updated_at":"2020-05-04T19:16:40Z"},{"url":"https://api.github.com/projects/columns/3911442","project_url":"https://api.github.com/projects/1981034","cards_url":"https://api.github.com/projects/columns/3911442/cards","id":3911442,"node_id":"MDEzOlByb2plY3RDb2x1bW4zOTExNDQy","name":"Done","created_at":"2018-12-02T00:27:46Z","updated_at":"2020-05-04T19:16:45Z"}]'
  recorded_at: Tue, 17 Nov 2020 03:48:15 GMT
- request:
    method: post
    uri: https://api.github.com/projects//columns
    body:
      encoding: UTF-8
      string: '{"name":"Icebox"}'
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4599'
      X-Ratelimit-Reset:
      - '1605587326'
      X-Ratelimit-Used:
      - '401'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Tue, 17 Nov 2020 03:48:15 GMT
- request:
    method: get
    uri: https://api.github.com/projects/columns/3914150/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c29ddfb5776ab3f4524bc33914ea2490d8ba876f8979e69399d17ee69271d65e"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4598'
      X-Ratelimit-Reset:
      - '1605587326'
      X-Ratelimit-Used:
      - '402'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/projects/columns/cards/15376540","project_url":"https://api.github.com/projects/1981034","id":15376540,"node_id":"MDExOlByb2plY3RDYXJkMTUzNzY1NDA=","note":null,"archived":false,"creator":{"login":"jmejia","id":73824,"node_id":"MDQ6VXNlcjczODI0","avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false},"created_at":"2018-12-02T19:37:28Z","updated_at":"2018-12-02T19:39:43Z","column_url":"https://api.github.com/projects/columns/3914150","content_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17"}]'
  recorded_at: Tue, 17 Nov 2020 03:48:15 GMT
- request:
    method: get
    uri: https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d70f829fd14d91bde585803e10e79b2af9cf3f9eabbf670376132ec21b2e9633"
      Last-Modified:
      - Fri, 23 Oct 2020 20:27:03 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4597'
      X-Ratelimit-Reset:
      - '1605587326'
      X-Ratelimit-Used:
      - '403'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17","repository_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn","labels_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17/labels{/name}","comments_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17/comments","events_url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/issues/17/events","html_url":"https://github.com/turingschool-examples/watch-and-learn/issues/17","id":386591859,"node_id":"MDU6SXNzdWUzODY1OTE4NTk=","number":17,"title":"Bookmarking
        doesn''t reload page","user":{"login":"jmejia","id":73824,"node_id":"MDQ6VXNlcjczODI0","avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false},"labels":[{"id":1147181001,"node_id":"MDU6TGFiZWwxMTQ3MTgxMDAx","url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/labels/extension","name":"extension","color":"e09a5e","default":false,"description":""},{"id":1147826383,"node_id":"MDU6TGFiZWwxMTQ3ODI2Mzgz","url":"https://api.github.com/repos/turingschool-examples/watch-and-learn/labels/javascript","name":"javascript","color":"ffbce8","default":false,"description":""}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-12-02T19:39:43Z","updated_at":"2018-12-02T19:43:05Z","closed_at":null,"author_association":"MEMBER","active_lock_reason":null,"body":"Background:
        When a user bookmarks a video the page reloads which means if they were watching
        a video, the video starts over making for a frustrating user experience. We
        can use JavaScript to make a POST request to `/api/v1/bookmarks`.\r\n\r\nThis
        story should make a `fetch` call to an internal API.\r\n\r\nThe app currently
        uses Stimulus JS and there are already examples of how to make a `fetch` call
        to an internal API. Review that code and use it as a template.","closed_by":null,"performed_via_github_app":null}'
  recorded_at: Tue, 17 Nov 2020 03:48:16 GMT
- request:
    method: post
    uri: https://api.github.com/repos/backburnerstudios/watch-and-learn/issues
    body:
      encoding: UTF-8
      string: '{"title":"Bookmarking doesn''t reload page","body":"Background: When
        a user bookmarks a video the page reloads which means if they were watching
        a video, the video starts over making for a frustrating user experience. We
        can use JavaScript to make a POST request to `/api/v1/bookmarks`.\r\n\r\nThis
        story should ma[...]
- request:
    method: post
    uri: https://api.github.com/projects/columns//cards
    body:
      encoding: UTF-8
      string: '{"content_type":"Issue","content_id":744385637}'
    headers:
      Authorization:
      - token <GITHUB_TESTING_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4595'
      X-Ratelimit-Reset:
      - '1605587326'
      X-Ratelimit-Used:
      - '405'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Tue, 17 Nov 2020 03:48:17 GMT
[...]
